name: ci 
on:
  push:
    branches:
      - master
  pull_request:
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created 

jobs:
  analysis:
    name: static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          path: go/src/github.com/pulsar-beam

      - name: Lint Go Code
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin # temporary fix. See https://github.com/actions/setup-go/issues/14
          go get -u golang.org/x/lint/golint 
          cd src
          golint ./...

  build_test:
    name: build and test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          path: go/src/github.com/pulsar-beam
      - name: Install MongoDB
        run: |
          echo $GITHUB_EVENT_NAME
          echo $GITHUB_EVENT_PATH
          sudo apt-get update
          sudo apt-get install -y mongodb
      - name: Verify MongoDB Installation and Status
        run: |
          ls /var/lib/mongodb
          sudo systemctl status mongodb
      - name: Install dependencies
        run: |
          pwd
          echo ${HOME}
          echo ${GITHUB_WORKSPACE}
          echo ${GOPATH}
          echo ${GOROOT}
          wget --user-agent=Mozilla "https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.4.1/DEB/apache-pulsar-client.deb"
          wget --user-agent=Mozilla "https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.4.1/DEB/apache-pulsar-client-dev.deb"
          ls ./*apache-pulsar-client*.deb
          sudo apt install ./*apache-pulsar-client*.deb
          go mod download
      - name: Build Binary
        run: |
          cd src
          go build ./...
      - name: Go Vet
        run: |
          cd src
          go vet ./...
      - name: Run Tests
        run: |
          cd src/unit-test
          go test -v ./...
        env:
          GOPATH: /home/runner/work/pulsar-beam/go
      - name: Run Code Coverage
        run: |
          pwd
          cd ./scripts
          ./test_coverage.sh
        env:
          GOPATH: /home/runner/work/pulsar-beam/go

  sonar:
    name: docker
    runs-on: ubuntu-latest 
    steps:
      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          path: go/src/github.com/pulsar-beam

      - name: Build Docker Image
        run: |
          pwd
          sudo docker build -t pulsar-beam .
      - name: Install dependencies
        run: |
          pwd
          echo ${HOME}
          echo ${GITHUB_WORKSPACE}
          echo ${GOPATH}
          echo ${GOROOT}
          wget --user-agent=Mozilla "https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.4.1/DEB/apache-pulsar-client.deb"
          wget --user-agent=Mozilla "https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.4.1/DEB/apache-pulsar-client-dev.deb"
          ls ./*apache-pulsar-client*.deb
          sudo apt install ./*apache-pulsar-client*.deb
          go mod download
      - name: Install MongoDB
        run: |
          echo $GITHUB_EVENT_NAME
          echo $GITHUB_EVENT_PATH
          sudo apt-get update
          sudo apt-get install -y mongodb
      - name: Verify MongoDB Installation and Status
        run: |
          ls /var/lib/mongodb
          sudo systemctl status mongodb
      - name: Start Docker
        run: |
          pwd
          ls /etc/pki/ca-trust/extracted/pem/
          ls /etc/ssl/certs/
          ls
      - name: Build e2e test tool
        run: |
          cd src/e2e
          go build -o ./e2etest ./e2etest.go
